* {
  margin: 0;
  padding: 0; }

body {
  background: radial-gradient(black 3px, transparent 4px), radial-gradient(black 3px, transparent 4px), linear-gradient(#fff 4px, transparent 0), linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px), linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px), #fff;
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  font-family: 'Manjari', sans-serif; }
  body .title {
    text-align: center;
    padding: 20px 0;
    font-size: 2.4em; }
  body .container {
    background-color: white;
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header header header" "content content sidebar" "related related related" "footer footer footer";
    gap: 20px; }
    body .container .header {
      grid-area: header;
      background-color: black;
      color: white;
      padding: 1.2em; }
    body .container .content {
      grid-area: content;
      border: 1px solid black;
      background-color: white;
      padding: 1.3em; }
      body .container .content .article {
        padding: 1.3em;
        background-color: #808e9b;
        color: white;
        margin-top: 0.4em; }
        body .container .content .article h1 {
          padding: 0.4em; }
        body .container .content .article p {
          padding: 0.4em; }
    body .container .sidebar {
      background-color: #485460;
      color: white;
      grid-area: sidebar;
      border: 1px solid black;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      padding: 3.5em 1em;
      max-width: min-content; }
      body .container .sidebar div {
        margin-top: 0.8em; }
    body .container .related {
      grid-area: related;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      background: radial-gradient(black 3px, transparent 4px), radial-gradient(black 3px, transparent 4px), linear-gradient(#fff 4px, transparent 0), linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px), linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px), #fff;
      background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
      background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px; }
      body .container .related .related-post {
        color: white;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15em;
        width: 12em; }
    body .container .footer {
      grid-area: footer;
      border: 1px solid black;
      background-image: url("../assets/vintage-wallpaper.webp");
      color: white;
      padding: 1.3em; }
      body .container .footer h4 {
        padding: 0.2em; }
      body .container .footer p {
        padding: 0.2em; }

@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes side {
  0% {
    transform: translateX(100%); }
  50% {
    transform: translateX(100%); }
  100% {
    transform: translate(0%); } }

body .title {
  animation-name: side;
  animation-duration: 2s;
  animation-timing-function: ease-out; }

body .container {
  animation-name: appear;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }
  body .container .related .related-post {
    background-color: black;
    transition: transform .5s;
    transition: background-color .5s; }
    body .container .related .related-post:hover {
      transform: scale(1.1);
      background-color: cornflowerblue; }

@media screen and (max-width: 768px) {
  body .container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "header" "content" "sidebar" "related" "footer";
    gap: 20px; }
    body .container .related {
      justify-content: center; }
      body .container .related .related-post {
        margin-top: 1em; } }
