.gridIndex {
  header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  nav {
    display: flex;
    flex-flow: column wrap;
    ul {
      display: flex;
      flex-flow: column;
      width: 100%;
      height: 60%;
      padding: 4%;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
  footer {
    display: flex;
    flex-flow: row wrap;
    ul {
      display: flex;
      flex-flow: row wrap;
      width: 95%;
      justify-content: space-between;
    }
  }
}